* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
}

input[type=checkbox] {
  display: none;
}

.food-filter::after {
  content: '';
  clear: both;
  display: block;
}

.version {
  float: right;
  opacity: 0.5;
  font-size: 0.8rem;
  padding-right: 10px;
}

.check-label {
  margin-bottom: 5px;
  background-color: rgb(26, 129, 255);
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  transition: all 0.5s;
}

.check-label:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}

.check-label.active {
  opacity: 1;
}

.option-button {
  width: 48%;
  margin: 5px 0 10px 0;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(216, 60, 86);
  opacity: 0.7;
  transition: opacity 0.5s;
  outline: none;
}

.option-button:hover {
  opacity: 1;
  cursor: pointer;
}

#selecte-all {
  float: left;
}

#shuffle {
  float: right;
}

.card-wrap {
  position: relative;
  width: 100%;
  height: 400px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

@keyframes shuffle-odd {
  0% {
    left: 0px;
  }
  40% {
    left: -130px;
  }
  70% {
    left: 30px;
  }
  100% {
    left: 0px;
  }
}

@keyframes shuffle-even {
  0% {
    left: 0px;
  }
  40% {
    left: 130px;
  }
  70% {
    left: -30px;
  }
  100% {
    left: 0px;
  }
}

.card:hover {
  transform: rotateZ(15deg);
  cursor: pointer;
}

.card:hover .front {
  box-shadow: 0 1px 10px 8px rgba(255, 255, 255, 0.7);
}

.card.shuffle:nth-child(odd) {
  animation: shuffle-odd 0.5s;
}

.card.shuffle:nth-child(even) {
  animation: shuffle-even 0.5s;
}

.card.shuffle {
  margin-top: 0 !important;
}

.card.active {
  transform: rotateY(180deg) scale(1.5) translateZ(-85px);
  z-index: 10;
}

.protect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
}

.front {
  background-image: url('./picture/food_illust.jpg');
  background-size: auto 400px;
  box-shadow: 0 1px 5px 1px rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.back {
  background-image: url('./picture/frame.jpg');
  background-size: 100% auto;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 1.5rem;
  line-height: 400px;
  color: rgb(216, 60, 86);
  text-shadow: 0 1px 5px rgba(216, 60, 86, 0.5);
  transform: rotateY(180deg);
}

@media (max-width: 599px) {
  .version {
    margin-top: 20px;
  }
  .wrap {
    width: 80%;
    margin: 0 auto;
  }
  .option-button {
    width: 100%;
  }
  .front {
    background-size: 100% auto;
  }
}

@media (min-width: 600px) {
  .wrap {
    position: absolute;
    width: 285px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}